In [2]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine

In [3]:
# create_engine("mysql+mysqldb://:admin@localhost:3306/datavisualization")
rdsConnection = create_engine("mysql+mysqldb://admin:passwordRDS@visionrds.ch0vw6wkyqa3.ca-central-1.rds.amazonaws.com/video_metadata")

In [4]:
videoMetadata = pd.read_csv("E:\Study Space\LCIT\Semester 2\AISC2006_Step Presentation\Project\ASLD\Data\metadata.csv")
videoMetadata.head()

,Name,Sign,Length,Size(bytes),Type,FrameRate,Bitrate,Frames,Resolution
0,335,abdomen,2.3,82741,MP4,25.000000,285,58,"(320, 240)"
1,336,abdomen,2.2,481544,MP4,30.004616,1764,65,"(640, 480)"
2,338,abdomen,2.4,72695,MP4,29.970000,242,72,"(288, 192)"
3,339,abdomen,2.0,60415,MP4,29.970000,237,61,"(288, 192)"
4,341,abdomen,2.8,888854,MP4,30.331450,2568,84,"(720, 400)"

In [5]:
# Resetting index as Name
videoMetadata.set_index('Name', inplace=True)

In [6]:
videoMetadata

,Sign,Length,Size(bytes),Type,FrameRate,Bitrate,Frames,Resolution
Name,,,,,,,,
335,abdomen,2.3,82741,MP4,25.000000,285,58,"(320, 240)"
336,abdomen,2.2,481544,MP4,30.004616,1764,65,"(640, 480)"
338,abdomen,2.4,72695,MP4,29.970000,242,72,"(288, 192)"
339,abdomen,2.0,60415,MP4,29.970000,237,61,"(288, 192)"
341,abdomen,2.8,888854,MP4,30.331450,2568,84,"(720, 400)"
...,...,...,...,...,...,...,...,...
69542,wrap,2.5,3847765,MP4,29.970030,12138,76,"(1280, 720)"
69544,write,2.8,3171843,MP4,29.970030,9162,83,"(1280, 720)"
69545,yellow,2.2,2748418,MP4,29.970030,10137,65,"(1280, 720)"
69546,yes,2.4,3033178,MP4,29.970030,10100,72,"(1280, 720)"
69547,you,2.2,2684563,MP4,29.970030,9606,67,"(1280, 720)"

In [7]:
# Writing XML data to mysql table
videoMetadata.to_sql(
    name='dataset_analysis', # database table name
    con=rdsConnection,
    if_exists='replace',
    index=True
)

11046